body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f4f8;
    font-family: Arial, sans-serif;
}

.card {
    width: 350px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    text-align: center;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.todo-item {
            margin: 10px 0;
            padding: 5px;
            border-bottom: 1px solid rgb(253, 253, 253);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .delete-btn {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-left: 10px;
        }